
.container-fluid{
   

}
.card-main{
    width: 18rem;
    float: left;
    margin-left: 5%;
}
.container{
    margin-top: 20%;
    height: 700px;

}
.footer {
 
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:grey;
    color: black;
    text-align: center;
 }